
body {
    margin: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    place-items: center;
    counter-reset: score;  /*  //crea o reinicia un contador */
}

/* Phone */
.phone {
    position: relative;
    border: 8px solid black;
    border-radius: 30px;
    height: 600px;
    width: 300px;
    background: #b6e8e8;
    /* box-shadow: 12px; */
}
.posit {
    position: absolute;
}
.title {
    margin-top: 50px;
    text-align: center;
    letter-spacing: 2.2px;
    font-size: 30px;
    font-family: 'ZCOOL KuaiLe', cursive;    
    opacity: 80%;
    font-weight: 700;
}
.score {
    position: absolute;
    margin-top: 30px;
    letter-spacing: 2.5px;
    top: 65px;
    left: 100px;
}
.score:after {
    content: counter(score);
}
/* Inputs */
input[type=checkbox] {
    appearance: none;
    cursor: pointer;
    height: 50px;
    margin: 0;
    position: relative;
    top: 0;
    width: 80px;
    z-index: 2;
}
input[type=checkbox]:focus {
    appearance: none;
    outline: none;
}
input:checked {
    counter-increment: score;
}
/* .score {
    content: counter(score);
} */
/* Sun */
.sun {
    width: 70px;
    height: 70px;
    background: yellow;
    top: 8px;
    left: 8px;
    border-radius: 100%;
    
}
.sun__eye__left{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: rgb(53, 50, 50);
    position: absolute;
    top: 22px;
    right: 45px;
}
.sun__eye__right{
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: rgb(53, 50, 50);
    position: absolute;
    top: 22px;
    right: 15px; 
}
.sun__mouth {
    /* position: absolute;
    width: 50px;
    height: 3px;
    background: rgb(53, 50, 50) ;
    border-radius: 60px;
    top: 48px;
    left: 10px; */
    /* Este contenido lo he cogido de:  https://www.emezeta.com/articulos/tutorial-css-como-crear-un-objeto-que-baile*/
    content:" ";
    width:40px;
    height:20px;
    border-bottom-left-radius:50px;
    border-bottom-right-radius:50px;
    background:rgb(53, 50, 50);
    /* Colocación */
    position:absolute;
    top:41px;
    left: 15px;
}
.sun__eye {
    /* Creación de las animaciones */
    animation-name: blink; 
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/* código para ejecutar las animaciones.
puedes poner el % del tiempo que le has puesto para que haga la animación
0% -> momento inicial de la animación
5% -> al 5% de los 2s que le has puesto que dure la animación, tiene que hacer x
10% -> del tiempo, puedes poner que haga y o en este caso, que vuelva al estado original
11% al 100% -> en este tiempo, hasta completar los 2s, se mantendrá en el estado default  */
@keyframes blink {
    0% { 
        height: 8px;
    }
    5% {
        transform: translate(0px, 4px);
        height: 2px;
    }
    10% {
        transform: translate(0px, 0px);
        height: 8px;
    }
}
/* Rabbits*/
.layer-1 {
    z-index: 1;
    height: 460px;
    width: 80px;
    /* background: rgb(238, 238, 238); */
    bottom: 0;
    left: 60px;
    /* Animaciones */
    animation-name: rabbit-1;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
    /* Animation rabbit-1 */
    @keyframes rabbit-1 {
        0%{
            bottom: 0;
        }
        25% {
            bottom: -80px;
        }
        100%{
            bottom: 0;
        }
    }
.layer-2 {
    z-index: 1;
    height: 460px;
    width: 80px;
    /* background: rgb(238, 238, 238); */
    bottom: 0;
    right: 60px;
}
.layer-4 {
    z-index: 3;
    height: 335px;
    width: 80px;
    /* background: rgb(200, 200, 200); */
    bottom: 0;
    left: 26px;
}
.layer-6 {
    z-index: 5;
    width: 80px;
    height: 285px;
    /* background: rgb(206, 206, 206); */
    bottom: 0;
    right: 20px;
}
.layer-8 {
    z-index: 7;
    width: 80px;
    height: 185px;
    /* background: rgb(167, 167, 167); */
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
}
/* Styles for rabbits */
    /* Left Ear */
    .left-ear--outer {
        width: 20px;
        height: 50px;
        border-radius: 90%;
        background: white;
        position: absolute; /*este funciona como absolute porque el padre, que sería el rectángulo de abajo, lo toma como el relative aunque tenga el position:abosolute*/
        left: 10px; /*para poder colocar esta propiedad, y las demás top, right y bottom, necesita tener este mismo elemento el position:absolute*/
    }
    .left-ear--inner {
        width: 10px;
        height: 45px;
        border-radius: 90%;
        background: pink;
        position: absolute; 
        left: 15px; 
        top: 8px;
    }
        /* Right Ear */
    .right-ear--outer {
        width: 20px;
        height: 50px;
        border-radius: 90%;
        background: white;
        position: absolute; 
        right: 10px; 
    }
    .right-ear--inner {
        width: 10px;
        height: 45px;
        border-radius: 90%;
        background: pink;
        position: absolute; 
        right: 15px; 
        top: 8px;
    }
        /* Head */
    .head {
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        background: white;
        top: 35px;
        left: 0;
        right: 0;
        margin: 0 auto;
    }
        /* Eyes */
    .head__eye {
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background: black;
        position: absolute;
        top: 18px;
    }
    .head__eye--left{
        left: 22px;
    }
    .head__eye--right{
        right: 22px;
    }
/* Ground */
.layer-3 {
    z-index: 2;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 220px;
    height: 400px;
    background: rgb(93, 66, 3);
    border-radius: 20px;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 0px 5px rgb(23, 23, 23);
}
.layer-5 {
    z-index: 4;
    height: 275px;
    width: 170px;
    background: rgb(93, 66, 3);
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 50px;
    border-radius: 20px;
    box-shadow: 2px 0px 5px rgb(23, 23, 23);
}
.layer-7 {
    z-index: 6;
    width: 140px;
    height: 225px;
    bottom: 0;
    right: 0;
    background: rgb(93, 66, 3);
    border-bottom-right-radius:20px;
    border-radius: 20px;
    box-shadow: -1px 0px 5px rgb(23, 23, 23);
}
.layer-9 {
    z-index: 8;
    width: 150px;
    height: 125px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    background: rgb(93, 66, 3);
    border-radius: 20px;
    box-shadow: 1px 0px 5px rgb(23, 23, 23);
}
.layer-10 {
    z-index: 9;
    width: 95px;
    height: 90px;
    bottom: 0;
    right: 0;
    background: green;
    border-bottom-right-radius:20px;
}
.layer-11 {
    z-index: 9;
    width: 85px;
    height: 90px;
    bottom: 0;
    left: 0;
    background: green;
    border-bottom-left-radius:20px;
}
    /* Grass */
.greenGrass::after {
    content: "";
    width: 100%;
    height: 20px;
    position: absolute;
    top: 0;
    background: 
        linear-gradient(135deg, rgb(0, 128, 17) 25%, transparent 25%) -50px 0,
        linear-gradient(-135deg, rgb(0, 128, 17) 25%, transparent 25%) -50px 0,
        linear-gradient(45deg, rgb(0, 128, 17) 25%, transparent 25%),
        linear-gradient(-45deg, rgb(0, 128, 17) 25%, transparent 25%);
    background-size: 30px 70px;
    border-radius: 20px;
}
.greenGrass::before {
    content: "";
    position: absolute;
    top: 10px;
    width: 100%;
    height: 40px;
    background: 
        linear-gradient(135deg, rgb(128, 73, 0)  25%, transparent 25%) -50px 0,
        linear-gradient(-135deg, rgb(128, 73, 0)  25%, transparent 25%) -50px 0,
        linear-gradient(45deg, rgb(128, 73, 0)  25%, transparent 25%),
        linear-gradient(-45deg, rgb(128, 73, 0)  25%, transparent 25%);
    background-size: 30px 100px;
    border-radius: 120px 0 0 0px 0;
}

