
body {
    counter-reset: game;  /*  //crea o reinicia un contador */
}
input:checked {
    counter-increment: game; /*Incrementa un valor del contador.*/
}
.total-count::after { 
    content: counter(game); /* Content: Inserta el contenido generado y es necesario que sea añadido como un pseudoelemente. Counter(): Función que agrega el valor de un contador a un elemento.*/
}